<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trackula es un proyecto que pretende concienciar a la ciudadanía de cómo tus datos fluyen por la red y cómo algunas empresas se lucran de ello. Además de consejos de cómo evitar que esto ocurra, te proporcionamos un plugin para que lo veas con tus propios ojos.">
    <meta name="keywords" content="privacidad, privacy, seguridad, security, personal data, mydata, cookies, lightbeam">
    <meta name="author" content="Asociación Cultural Hactivista Trackula">

    <title>Trackula</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">

		<link href="css/cfp.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.svg" alt="Logo de Trackula" style="height:25px;" /></a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	 Menu
	  <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link js-scroll-trigger" href="{{ relLangURL "/" }}">Blog</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>

		<div id="wrapper">


    <!-- What Section -->
    <section id="what" class="content-section text-center">
      <div class="container">
	<div class="row">
	  <div class="content col-md-7">
			<h2>Privacidad, descentralización y soberanía digital <span>DEVroom de <a href="https://eslib.re/2019/" target="_blank" rel="noreferrer">esLibre 2019</a>.</span></h2>
			<h4>21 de Junio de 2019 - Granada</h4>
			<p>En un mundo con cada vez más tecnología, cada día tenemos menos poder sobre lo que ocurre con nuestra información personal.</p>
			<p>El poder que el Software Libre nos dio para con nuestros dispositivos, la economía de la vigilancia nos lo está arrebatando con la centralización de servicios en manos de empresas cuyo modelo de negocio es venderte.</p>
			<h5>¿Te vienes a proponer una sesión?</h5>
			<p>Buscamos charlas de unos 30 minutos o propuestas en formato open space pero si tienes alguna idea diferente, toda propuesta es bienvenida :)</p>
		</div>
		<div class="cfp-form-container col-md-5">
			<div class="cfp-form">
				<h4>Envíanos tu propuesta</h4>
				<ul>
						<li>¿Qué podemos hacer al respecto?</li>
						<li>¿De qué herramientas y servicios alternativos disponemos?</li>
						<li>¿Cómo educamos a la sociedad para que quiera defenderse?</li>
					</ul>
					<p>Si buscas más ideas sobre los temas que nos puedes proponer echa un ojo <a target="_blank" rel="noreferrer" href="https://osem.trackula.org/conferences/eslibre-2019-privacy-error/program/proposals/new">aquí</a>.</p>
				<a class="btn btn-default btn-lg" href="https://osem.trackula.org/conferences/eslibre-2019-privacy-error/program/proposals/new">Enviar propuesta</a>
			</div>
		</div>
	</div>
	<img src="img/imagotipo.svg" alt="Logo de Trackula" style="width:100px;">
	</div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
	<p>Trackula 2017. Some rights reserved. <a href="/es/page/about">¿Quién somos?</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
