<div id="title-info" class="title-info">
  <div id='site-title' class='site-title'>
    {{- if ( ne .Site.Title "" ) -}}
    <a href="{{ .Site.BaseURL | relLangURL }}">
	<img src="{{ "landing/img/logo.svg" | relURL }}"
	style="height: 1em"
	title="{{- .Site.Title -}}"
	alt="{{- .Site.Title -}}"
	/></a>
    {{- end -}}</div>
  </div>

  <div id="menu-primary" class="menu-container menu-primary" role="navigation">
    {{ with .Site.Params.Slogan }}
    <p class="site-description">{{ . | default "" | safeHTML }}</p>
    {{ end }}

    <div class="menu">
      <ul id="menu-primary-items" class="menu-primary-items">
        {{ $page := . }}
        {{ range .Site.Menus.main }}
        <li id="menu-item" class='menu-item {{ if eq ("/") (.URL) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }} {{ if $page.IsMenuCurrent "main" . }}current-menu-item current_page_item{{ end }}'>
          <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          {{ if .HasChildren }}
          <ul class="sub-menu">
            {{ range .Children }}
            <li id="menu-item" class='menu-item {{ if eq ("/") (.URL) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }} {{ if $page.IsMenuCurrent "main" . }}current-menu-item current_page_item{{ end }}'>
              <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </ul>

		<div class="menu-translations">
		{{ if .IsTranslated }}
		{{ i18n "AlsoAvailableIn" }}
		<ul>
		{{ range .Translations }}
			<li class="menu-item">
			  <a href="{{ .Permalink | relURL }}">{{ .Lang | upper }}: {{ .Title | default .Site.Title }}</a>
			</li>
		{{ end }}
		</ul>
		{{ end }}
		</div>
    </div>

  </div>
