{{ define "main" }}

<section class="section post-single-container">
  <div class="container post-container">
    <div class="row">
      <div class="post-subcontainer col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-entry">
          {{.Content }}
        </div>
        <a href="{{ `/post` | relLangURL }}">{{ i18n "postBackNews" }}</a>
      </div>
    </div>
  </div>
</section>

{{ end }}