.post-single-container {
    padding-top: 0;
}

.post-container {
}

.post-subcontainer {
    margin: auto;
    a {
        color: $btn-color;
    }
    
    article {
        hr {
            background-color: $btn-color;
            width: 15%;
            margin: 0 auto 20px auto;
        }
        &:last-child hr {
            display: none;
        }
    }
}

.post-preview {
    margin-bottom: 35px;
    a:hover {
        opacity: 0.7;
        text-decoration: none;
    }
}

.post-title {
    color: white;
    font-family: "bebas_neue_regular";
    font-size: 22px;
}

.post-subtitle {
    color: white;
    font-family: "bebas_neue_regular";
    font-size: 20px;
}

.post-entry {
    margin-bottom: 50px;
    color: #bdb9b9;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    p {
        color: #bdb9b9;
        font-family: sans-serif;
        font-size: 16px;
        letter-spacing: normal;
    }
}
