#what p {
  text-align: left;
}

#what h2,
#what h4,
#what h5  {
  line-height: 1.25;
  text-align: left;
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

#what h2 > span {
  font-size: 14px;
}

#what h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

#what h5  {
  margin-top: 1.5em;
}

#what > .container > .row {
  min-height: 500px;
}

#what .content p {
  margin-bottom: 1em;
}

#what .content ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  font-size: 18px;
}

#what .cfp-form-container {
  margin-top: 4em;
}

#what .cfp-form {
  padding: 1em 2em;
  border-radius: 8px;
  color: white;
  background-color: #000000a6;
}

#what .cfp-form h1,
#what .cfp-form h2,
#what .cfp-form h3,
#what .cfp-form h4,
#what .cfp-form p {
  color: white;
}

#what .cfp-form h4 {
  text-align: center;
  font-size: 18px;
}

#what .cfp-form ul {
  text-align: left;
  padding-left: 1em;
}

#what ul.banner-social-buttons li > a {
  margin: 0 8px;
}


