{{ define "main" }}

{{ if .Params.banner.enable }}
{{ with .Params.banner }}
<section class="hero-slider">
  <div class="container-fluid p-0 m-0">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto">
        <div class="hero-slider-wrapper">
          <div class="item">
            <div class="item-image image-reveal" style="animation-delay: 2s;">
              <!-- <img src="{{ .image | absURL }}" alt="slider-image"> -->
            </div>
            <div class="content">
              <h2>
                <img class="img-fluid" src="{{ .image | absURL }}" alt="slider-image">
              </h2>
              <h3>{{ .content | markdownify }}</h3>
              {{ if .button.enable }}
              {{ with .button }}
              <a href="#projects" class="hero-btn btn page-scroll">{{.label}}</a>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="scroll">
          <h6>SCROLL</h6>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Params.mission.enable }}
{{ with .Params.mission }}
<section class="mission" id="mission">
  <div class="bg">
    <img src="{{`images/team.jpg` | absURL}}" class="img-fluid" alt="section-bg">
  </div>
  <div class="right-shape">
    <img src="{{`images/right-shape.png` | absURL}}" class="img-fluid" alt="right-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{.section}}</span>
        </div>
        <div class="mission-content">
          <h2><span class="rev">{{ .title | markdownify}}</span></h2>
          <p>{{ .content | markdownify }}</p>

          <div class="video">
            <a class="video-play"
              data-video="https://www.youtube.com/embed/{{.video_id}}?autoplay=1&showinfo=0&controls=1">
              <img src="{{ .video_thumb | absURL }}" class="img-fluid" alt="video-thumb">
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if .Params.project.enable }}
{{ with .Params.project }}
<section class="products" id="projects">
  <div class="left-shape">
    <img src="{{`images/left-shape.png` | absURL}}" class="img-fluid" alt="left-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{.section | markdownify }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-block">
          <h2><span class="rev">{{ .title | markdownify }}</span>
          </h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row product-wrapper">
      {{ range .product_item }}
      <div class="col-lg-4 col-md-5 product-item">
        <img src="{{ .image | absURL }}" alt="product-image">
        <div class="overlay">
          <div class="content">
            <h5>{{ .title | markdownify }}</h5>
            <p>{{ .content | markdownify }}</p>
            <a href="{{ .project_url | absURL }}">Learn More</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{- partial "contact.html" . -}}

{{ end }}